.container{
  width: 88%;
  margin: auto;
}
input{
  padding: 0%;
}
.right-img{
  padding: 0;
  width: 102%;
} 
.checkbox{
  float: left;
}
.forget-pass{
  float: right;
  color: #212529;
  text-decoration: none;
}
.heading{
  font-weight: bolder;
}
.para{
  color: #9a8e8e;;
}
.form-signin{
  float: right;
  width: 30%;
}
.btn{
  border-radius: 0;
}
.navbar{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container-fluid{
  width: 88%;
}
.login-btn:hover{
  background-color: #0d6efd;
}
.login{
  background-color: #fb8602;
  padding: 5px 50px;
  color: white
}
.trial{
  padding: 5px 32px;
}
.trial:hover{
  background-color: #198754;
}
  @media screen and (max-width: 800px){
    .form-signin{
      margin-top: 40% !important;
      width: 100%;
    }
    .right-img{
      visibility: hidden;
    }
  }